.a_home{
    text-decoration:none;
    color: black;
    font-style: italic;
}

.a_home:hover{
    cursor: pointer;
    text-decoration: underline;
    font-style: normal;
}

.ptext{
    font-size: 20px;
}

